/* Global Style */

body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

/* Navigation Bar and Header Styles */

header img {
    width: 15%;
    height: 15%;
}

.nav-container {
    display: flex;
    min-height: 100vh; /* Ensures container takes full viewport height */
}

.nav-bar {
    width: 200px;
    background-color: white;
    padding: 20px;
}

.nav-bar ul {
    list-style-type: none;
    padding: 0;
}

.nav-bar ul li a {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;

    padding: 20px 0px 20px 20px;
    margin-bottom: 10px;

    border: black 4px solid;
    border-radius: 20px;
}   

.nav-bar ul li a:hover {
    background-color: lightyellow;
}

.nav-bar ul li a:active {
    border-color: #feedaa;
}

/* Content Area Styles */

.content {
    flex-grow: 1; /* Allows content to take remaining space */
    padding: 20px;
}